<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianfeng.dao.SignMapper">
  <resultMap id="BaseResultMap" type="com.qianfeng.entity.Sign">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="did" jdbcType="INTEGER" property="did" />
    <result column="starttime" jdbcType="TIMESTAMP" property="starttime" />
    <result column="endtime" jdbcType="TIMESTAMP" property="endtime" />
    <result column="llid" jdbcType="INTEGER" property="llid" />
    <result column="signnumber" jdbcType="INTEGER" property="signnumber" />
    <result column="latenumber" jdbcType="INTEGER" property="latenumber" />
    <result column="leavenumber" jdbcType="INTEGER" property="leavenumber" />
    <result column="lacknumber" jdbcType="INTEGER" property="lacknumber" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, did, starttime, endtime, month, llid, signnumber, latenumber, leavenumber, 
    lacknumber
  </sql>
  
  <select id="signList" parameterType="map" resultType="map">
	select s.id,s.name,s.starttime,
	s.endtime,s.signnumber,s.latenumber,s.leavenumber,s.lacknumber,d.name
	as did,l.lateleave as llid from t_sign as s
	INNER JOIN t_depart as d
	on s.did=d.id
	INNER JOIN t_lateleave as l
	on s.llid=l.id
	limit #{count},#{size}
  </select>
  
   <select id="count"  resultType="int">
	select count(*) from t_sign as s
	INNER JOIN t_depart as d
	on s.did=d.id
	INNER JOIN t_lateleave as l
	on s.llid=l.id	
  </select>
  
  <insert id="insertSign" parameterType="com.qianfeng.entity.Sign">
    insert into t_sign
    <trim prefix="(" suffix=")" suffixOverrides=",">     
      <if test="name != null">
        name,
      </if>
      <if test="did != null">
        did,
      </if>
      <if test="starttime != null">
        starttime,
      </if>
      <if test="endtime != null">
        endtime,
      </if>
      <if test="llid != null">
        llid,
      </if>
      <if test="signnumber != null">
        signnumber,
      </if>
      <if test="latenumber != null">
        latenumber,
      </if>
      <if test="leavenumber != null">
        leavenumber,
      </if>
      <if test="lacknumber != null">
        lacknumber,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
     
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="did != null">
        #{did,jdbcType=INTEGER},
      </if>
      <if test="starttime != null">
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="llid != null">
        #{llid,jdbcType=INTEGER},
      </if>
      <if test="signnumber != null">
        #{signnumber,jdbcType=INTEGER},
      </if>
      <if test="latenumber != null">
        #{latenumber,jdbcType=INTEGER},
      </if>
      <if test="leavenumber != null">
        #{leavenumber,jdbcType=INTEGER},
      </if>
      <if test="lacknumber != null">
        #{lacknumber,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sign
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_sign
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qianfeng.entity.Sign">
    insert into t_sign (id, name, did, 
      starttime, endtime, month, 
      llid, signnumber, latenumber, 
      leavenumber, lacknumber)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{did,jdbcType=INTEGER}, 
      #{starttime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}, #{month,jdbcType=DATE}, 
      #{llid,jdbcType=INTEGER}, #{signnumber,jdbcType=INTEGER}, #{latenumber,jdbcType=INTEGER}, 
      #{leavenumber,jdbcType=INTEGER}, #{lacknumber,jdbcType=INTEGER})
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.qianfeng.entity.Sign">
    update t_sign
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="did != null">
        did = #{did,jdbcType=INTEGER},
      </if>
      <if test="starttime != null">
        starttime = #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        endtime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="month != null">
        month = #{month,jdbcType=DATE},
      </if>
      <if test="llid != null">
        llid = #{llid,jdbcType=INTEGER},
      </if>
      <if test="signnumber != null">
        signnumber = #{signnumber,jdbcType=INTEGER},
      </if>
      <if test="latenumber != null">
        latenumber = #{latenumber,jdbcType=INTEGER},
      </if>
      <if test="leavenumber != null">
        leavenumber = #{leavenumber,jdbcType=INTEGER},
      </if>
      <if test="lacknumber != null">
        lacknumber = #{lacknumber,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qianfeng.entity.Sign">
    update t_sign
    set name = #{name,jdbcType=VARCHAR},
      did = #{did,jdbcType=INTEGER},
      starttime = #{starttime,jdbcType=TIMESTAMP},
      endtime = #{endtime,jdbcType=TIMESTAMP},
      month = #{month,jdbcType=DATE},
      llid = #{llid,jdbcType=INTEGER},
      signnumber = #{signnumber,jdbcType=INTEGER},
      latenumber = #{latenumber,jdbcType=INTEGER},
      leavenumber = #{leavenumber,jdbcType=INTEGER},
      lacknumber = #{lacknumber,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>